body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}

#background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  background: url('media/dancefloor1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:-1;
  overflow-y:visible;
}

#foreground {
  width:100%;
  height:calc(100% - 200px);
  position:absolute;
  top: 200px;
  display:block;
  overflow-x:hidden;
  overflow-y:hidden;
  
}

.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  width:100%;
  height:32px;
  /*background-color: #555;*/
  position:absolute;
  top:0px;
  left:0px;
  
}
.title{
  background-color: #777;
  width:140px;
}
.dancer{
/*  border:40px solid red;
  border-radius:40px;*/
  height:200px;
  position:absolute;
}

.dancer img {
  display:block;
  height:100%;
}

.sidebar {
  width:155px;
  height:calc(100% - 32px);
  position:absolute;
  top:32px;
  right:0px;
  text-align:right;
  /*background-color: #555;*/
  padding:5px;
  
}

.coreographyButton {
  padding:5px 15px 5px 0px;
}

/*dance classes*/
.slide-left {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-right {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.flip-scale-2-hor-top {
  -webkit-animation: flip-scale-2-hor-top 0.5s linear both;
  animation: flip-scale-2-hor-top 0.5s linear both;
}

/*key-frames*/
@-webkit-keyframes slide-left {
  0% { 
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% { 
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}

@keyframes slide-left {
  0% { 
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% { 
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}

@-webkit-keyframes slide-right {
  0% { 
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% { 
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}

@keyframes slide-right {
  0% { 
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% { 
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}


@-webkit-keyframes flip-scale-2-hor-top {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  50% {
    -webkit-transform: translateY(-50%) rotateX(-90deg) scale(2);
    transform: translateY(-50%) rotateX(-90deg) scale(2);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translateY(-100%) rotateX(-180deg) scale(1);
    transform: translateY(-100px) rotateX(-180deg) scale(1);
    -webkit-transform-origin: 50% 100px;
    transform-origin: 50% 100px;
  }
}
@keyframes flip-scale-2-hor-top {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  50% {
    -webkit-transform: translateY(-50%) rotateX(-90deg) scale(2);
      transform: translateY(-50%) rotateX(-90deg) scale(2);
    -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translateY(-100px) rotateX(-180deg) scale(1);
      transform: translateY(-100px) rotateX(-180deg) scale(1);
    -webkit-transform-origin: 50% 100px;
      transform-origin: 50% 100px;
  }
}

